<section class="explore" id="catering">
  <div class="container">
    <img
      src="./images/explore-img.webp"
      alt="Explore Our Alowishus"
      class="explore__img"
      data-aos="fade-right"
      data-aos-duration="1000"
    />
    <div data-aos="fade-up" data-aos-duration="1000">
      <h2 class="explore__title">Explore Our Alowishus</h2>
      <p class="explore__descr">
        A drink from the ‘My Alowishus’ bottled brews range OR grab one of our
        delicious coffee’s.
      </p>
    </div>
    <ul class="explore__list list">
      <li class="explore__card">
        <h3 class="explore__card-title">Our Catering</h3>
        <p class="explore__card-txt">
          Alowishus Catering, delicious drop off Catering
        </p>
        <svg class="explore__card-icon" width="150" height="150">
          <use href="./images/icons.svg#icon-food"></use>
        </svg>
        <button class="explore__card-btn button">Order cathering</button>
      </li>
      <li class="explore__card">
        <h3 class="explore__card-title">The Food</h3>
        <p class="explore__card-txt">
          Our entire menu is available as dine in or takeaway.
        </p>
        <svg class="explore__card-icon" width="150" height="150">
          <use href="./images/icons.svg#icon-fast-food"></use>
        </svg>
        <button class="explore__card-btn button">food menu</button>
      </li>
      <li class="explore__card">
        <h3 class="explore__card-title">The Gelato</h3>
        <p class="explore__card-txt">
          Life is like GELATO, enjoy it before it melts.
        </p>
        <svg class="explore__card-icon" width="150" height="150">
          <use href="./images/icons.svg#icon-ice-cream"></use>
        </svg>
        <button class="explore__card-btn button">Discover more</button>
      </li>
    </ul>
  </div>
</section>
