<header class="header">
  <div class="container">
    <a href="#" class="logo link">
      <img
        src="./images/logo.webp"
        alt="Alowishus Delicious"
        width="126"
        height="50"
      />
    </a>

    <div class="header__menu">
      <nav class="navigation">
        <ul class="navigation__list list">
          <li class="navigation__item">
            <a href="#cafe-menu" class="navigation__link link">Cafe Menu</a>
          </li>
          <li class="navigation__item">
            <a href="#about" class="navigation__link link">About Us</a>
          </li>
          <li class="navigation__item">
            <a href="#find-us" class="navigation__link link">Find Us</a>
          </li>
          <li class="navigation__item">
            <a href="#catering" class="navigation__link link"
              >Alowishus Catering</a
            >
          </li>
        </ul>
      </nav>

      <button class="header__btn--circle button button--secondary">
        <svg class="" width="24" height="24">
          <use href="./images/icons.svg#icon-basket"></use>
        </svg>
      </button>
      <button class="header__btn button">Buy gift vouchers</button>
    </div>
  </div>
</header>
