<section class="hero">
  <div class="container">
    <div class="hero__info">
      <h1 class="hero__title">Alowishus Delicious Coffee</h1>
      <p class="hero__text">
        A drink from the ‘My Alowishus’ bottled brews range OR grab one of our
        delicious coffee’s.
      </p>
      <button class="hero__btn button">Download App</button>
      <a href="" class="hero__link link">Shop Coffee</a>
    </div>
    <div class="hero__visual">
      <div data-aos="fade-left" data-aos-duration="1000">
        <img
          src="./images/hero-coffee.webp"
          alt="coffee"
          class="hero__coffee"
          width="700"
          height="712"
        />
        <img
          src="./images/hero-ellipses.webp"
          alt="ellipses"
          class="hero__ellipses"
          width="523"
          height="562"
        />
      </div>

      <img
        src="./images/awards.webp"
        alt="awards"
        class="hero__awards"
        width="144"
        height="113"
        data-aos="fade-left"
        data-aos-duration="1000"
        data-aos-delay="500"
      />
      <div
        class="hero__rating"
        data-aos="fade-right"
        data-aos-duration="1000"
        data-aos-delay="500"
      >
        <ul class="rating__list list">
          <li class="rating__item">
            <svg class="" width="36" height="36">
              <use href="./images/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="" width="36" height="36">
              <use href="./images/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="" width="36" height="36">
              <use href="./images/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="" width="36" height="36">
              <use href="./images/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="" width="36" height="36">
              <use href="./images/icons.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p class="rating__txt">
          4.9 out of 5 Overall Star Rating for All Local Business.
        </p>
      </div>
    </div>
  </div>
</section>
