<section class="order" id="cafe-menu">
  <div class="container">
    <div
      data-aos="fade-right"
      data-aos-duration="1000"
      data-aos-anchor-placement="top-center"
    >
      <img
        src="./images/order-ellipse.webp"
        alt=""
        class="order__ellipse"
        width="636.13"
        height="403.97"
      />
      <img
        src="./images/order-img.webp"
        alt=""
        class="order__img"
        width="807"
        height="575.28"
      />
    </div>

    <div class="order__info">
      <h2 class="order__title">Order Your Favourite Coffee</h2>
      <p class="order__txt">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <button class="order__btn button">Order Now</button>
    </div>
  </div>
</section>
