<section class="phoneapp">
  <img
    src="./images/phoneapp-bg.webp"
    alt="Coffee"
    class="phoneapp__bg"
    width="308"
    data-aos="fade-right"
    data-aos-duration="1000"
    data-aos-anchor-placement="top-center"
  />
  <div class="container">
    <div class="phoneapp__descr">
      <h2 class="phoneapp__title">Instant Coffee At Your Home</h2>
      <p class="phoneapp__txt">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <button class="phoneapp__btn button">Download our app</button>
    </div>
    <img
      src="./images/phoneapp-img.webp"
      alt="Phone App"
      class="phoneapp__img"
      width="718"
      data-aos="fade-left"
      data-aos-duration="1000"
      data-aos-anchor-placement="top-center"
    />
    <img
      src="./images/phoneapp-ellipse.webp"
      alt="ellipse"
      class="phoneapp__ellipse"
      width="647"
    />
  </div>
</section>
