<section class="reviews" id="about">
  <img
    src="./images/reviews-bg.webp"
    alt="Coffee"
    class="reviews__bg"
    width="453"
  />
  <div class="container">
    <div class="gallery">
      <div class="itc-slider" data-slider="itc-slider">
        <div class="itc-slider__wrapper">
          <div class="itc-slider__items">
            <div class="itc-slider__item">
              <div class="reviews__card">
                <img
                  src="./images/reviews-customer.webp"
                  class="customer__img"
                  alt="Customer"
                  width="468"
                />
                <div class="reviews__descr">
                  <div class="reviews__info">
                    <h3 class="reviews__name">Brooklyn Simmons</h3>
                    <ul class="reviews__stars list">
                      <li class="reviews__item">
                        <svg class="reviews__icon" width="24" height="24">
                          <use href="./images/icons.svg#icon-star"></use>
                        </svg>
                      </li>
                      <li class="reviews__item">
                        <svg class="reviews__icon" width="24" height="24">
                          <use href="./images/icons.svg#icon-star"></use>
                        </svg>
                      </li>
                      <li class="reviews__item">
                        <svg class="reviews__icon" width="24" height="24">
                          <use href="./images/icons.svg#icon-star"></use>
                        </svg>
                      </li>
                      <li class="reviews__item">
                        <svg class="reviews__icon" width="24" height="24">
                          <use href="./images/icons.svg#icon-star"></use>
                        </svg>
                      </li>
                      <li class="reviews__item">
                        <svg class="reviews__icon" width="24" height="24">
                          <use href="./images/icons.svg#icon-star"></use>
                        </svg>
                      </li>
                    </ul>
                  </div>
                  <p class="rewievs__txt">
                    “Amet minim mollit non deserunt ullamco est sit aliqua dolor
                    do amet sint. Velit officia consequat duis enim velit
                    mollit. Exercitation veniam consequat sunt nostrud amet. ”
                  </p>
                </div>
              </div>
            </div>
            <div class="itc-slider__item">
              <div class="reviews__card">
                <img
                  src="./images/reviews-customer.webp"
                  class="customer__img"
                  alt="Customer"
                  width="468"
                />
                <div class="reviews__descr">
                  <div class="reviews__info">
                    <h3 class="reviews__name">Imam White</h3>
                    <ul class="reviews__stars list">
                      <li class="reviews__item">
                        <svg class="reviews__icon" width="24" height="24">
                          <use href="./images/icons.svg#icon-star"></use>
                        </svg>
                      </li>
                      <li class="reviews__item">
                        <svg class="reviews__icon" width="24" height="24">
                          <use href="./images/icons.svg#icon-star"></use>
                        </svg>
                      </li>
                      <li class="reviews__item">
                        <svg class="reviews__icon" width="24" height="24">
                          <use href="./images/icons.svg#icon-star"></use>
                        </svg>
                      </li>
                      <li class="reviews__item">
                        <svg class="reviews__icon" width="24" height="24">
                          <use href="./images/icons.svg#icon-star"></use>
                        </svg>
                      </li>
                      <li class="reviews__item">
                        <svg class="reviews__icon" width="24" height="24">
                          <use href="./images/icons.svg#icon-star"></use>
                        </svg>
                      </li>
                    </ul>
                  </div>
                  <p class="rewievs__txt">
                    “Amet minim mollit non deserunt ullamco est sit aliqua dolor
                    do amet sint. Velit officia consequat duis enim velit
                    mollit. Exercitation veniam consequat sunt nostrud amet.
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor
                    do amet sint. Velit officia”
                  </p>
                </div>
              </div>
            </div>
            <div class="itc-slider__item">
              <div class="reviews__card">
                <img
                  src="./images/reviews-customer.webp"
                  class="customer__img"
                  alt="Customer"
                  width="468"
                />
                <div class="reviews__descr">
                  <div class="reviews__info">
                    <h3 class="reviews__name">Brooklyn Simmons</h3>
                    <ul class="reviews__stars list">
                      <li class="reviews__item">
                        <svg class="reviews__icon" width="24" height="24">
                          <use href="./images/icons.svg#icon-star"></use>
                        </svg>
                      </li>
                      <li class="reviews__item">
                        <svg class="reviews__icon" width="24" height="24">
                          <use href="./images/icons.svg#icon-star"></use>
                        </svg>
                      </li>
                      <li class="reviews__item">
                        <svg class="reviews__icon" width="24" height="24">
                          <use href="./images/icons.svg#icon-star"></use>
                        </svg>
                      </li>
                      <li class="reviews__item">
                        <svg class="reviews__icon" width="24" height="24">
                          <use href="./images/icons.svg#icon-star"></use>
                        </svg>
                      </li>
                      <li class="reviews__item">
                        <svg class="reviews__icon" width="24" height="24">
                          <use href="./images/icons.svg#icon-star"></use>
                        </svg>
                      </li>
                    </ul>
                  </div>
                  <p class="rewievs__txt">
                    “Amet minim mollit non deserunt ullamco est sit aliqua dolor
                    do amet sint. Velit officia consequat duis enim velit
                    mollit. Exercitation veniam consequat sunt nostrud amet. ”
                  </p>
                </div>
              </div>
            </div>
            <div class="itc-slider__item">
              <div class="reviews__card">
                <img
                  src="./images/reviews-customer.webp"
                  class="customer__img"
                  alt="Customer"
                  width="468"
                />
                <div class="reviews__descr">
                  <div class="reviews__info">
                    <h3 class="reviews__name">Imam White</h3>
                    <ul class="reviews__stars list">
                      <li class="reviews__item">
                        <svg class="reviews__icon" width="24" height="24">
                          <use href="./images/icons.svg#icon-star"></use>
                        </svg>
                      </li>
                      <li class="reviews__item">
                        <svg class="reviews__icon" width="24" height="24">
                          <use href="./images/icons.svg#icon-star"></use>
                        </svg>
                      </li>
                      <li class="reviews__item">
                        <svg class="reviews__icon" width="24" height="24">
                          <use href="./images/icons.svg#icon-star"></use>
                        </svg>
                      </li>
                      <li class="reviews__item">
                        <svg class="reviews__icon" width="24" height="24">
                          <use href="./images/icons.svg#icon-star"></use>
                        </svg>
                      </li>
                      <li class="reviews__item">
                        <svg class="reviews__icon" width="24" height="24">
                          <use href="./images/icons.svg#icon-star"></use>
                        </svg>
                      </li>
                    </ul>
                  </div>
                  <p class="rewievs__txt">
                    “Amet minim mollit non deserunt ullamco est sit aliqua dolor
                    do amet sint. Velit officia consequat duis enim velit
                    mollit. Exercitation veniam consequat sunt nostrud amet.
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor
                    do amet sint. Velit officia”
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="gallery__actions">
          <button
            class="reviews__btn button button--secondary itc-slider__btn_prev"
          >
            <svg class="reviews__btn-icon" width="30" height="30">
              <use href="./images/icons.svg#icon-arrow-left"></use>
            </svg>
          </button>
          <button
            class="reviews__btn button button--secondary itc-slider__btn_next"
          >
            <svg class="reviews__btn-icon" width="30" height="30">
              <use href="./images/icons.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>

    <div>
      <h2 class="reviews__title">What Our Customers Say</h2>
      <div class="reviews__rating">
        <h3 class="reviews__score">4.9</h3>
        <div>
          <ul class="reviews__stars list">
            <li class="reviews__item">
              <svg class="reviews__icon" width="24" height="24">
                <use href="./images/icons.svg#icon-star"></use>
              </svg>
            </li>
            <li class="reviews__item">
              <svg class="reviews__icon" width="24" height="24">
                <use href="./images/icons.svg#icon-star"></use>
              </svg>
            </li>
            <li class="reviews__item">
              <svg class="reviews__icon" width="24" height="24">
                <use href="./images/icons.svg#icon-star"></use>
              </svg>
            </li>
            <li class="reviews__item">
              <svg class="reviews__icon" width="24" height="24">
                <use href="./images/icons.svg#icon-star"></use>
              </svg>
            </li>
            <li class="reviews__item">
              <svg class="reviews__icon" width="24" height="24">
                <use href="./images/icons.svg#icon-star"></use>
              </svg>
            </li>
          </ul>
          <p class="reviews__total">based on 2452+ reviews</p>
        </div>
      </div>
      <div class="reviews__actions"></div>
    </div>
  </div>
  <img
    src="./images/reviews-bg-bottom.webp"
    alt="Coffee"
    class="reviews__bg--bottom"
    width="356"
  />
</section>
