<section class="selling">
  <div class="container">
    <img
      src="./images/selling-bg.webp"
      alt="Coffee"
      class="selling__img"
      height="313"
    />
    <div
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-anchor-placement="top-center"
    >
      <h2 class="selling__title">Best Selling Coffee</h2>
      <p class="selling__descr">
        A drink from the ‘My Alowishus’ bottled brews range OR grab one of our
        delicious coffee’s.
      </p>
    </div>

    <ul class="selling__list list">
      <li class="selling__card">
        <div class="selling__card-top">
          <img
            src="./images/selling-first.webp"
            alt="Double Espresso"
            class="selling__card-img"
            width="186"
            height="308.88"
          />
          <div>
            <p class="selling__card-number">#1 Selling</p>
            <h3 class="selling__card-name">Double Espresso</h3>
          </div>
        </div>
        <div>
          <p class="selling__card-txt">
            Amet minim mollit non deserunt dolor ullamco est sit aliqua dolor do
            amet sint. Velit officia consequat duis.
          </p>
          <div class="selling__card-action">
            <p class="selling__card-price">$59.99</p>
            <button class="selling__card-btn button">Order now</button>
          </div>
        </div>
      </li>
      <li class="selling__card">
        <div class="selling__card-top">
          <img
            src="./images/selling-second.webp"
            alt="Caramel Frappe"
            class="selling__card-img"
            width="186"
            height="308.88"
          />
          <div>
            <p class="selling__card-number">#2 Selling</p>
            <h3 class="selling__card-name">Caramel Frappe</h3>
          </div>
        </div>
        <div>
          <p class="selling__card-txt">
            Amet minim mollit non deserunt dolor ullamco est sit aliqua dolor do
            amet sint. Velit officia consequat duis.
          </p>
          <div class="selling__card-action">
            <p class="selling__card-price">$59.99</p>
            <button class="selling__card-btn button">Order now</button>
          </div>
        </div>
      </li>
      <li class="selling__card">
        <div class="selling__card-top">
          <img
            src="./images/selling-third.webp"
            alt="Iced Coffee"
            class="selling__card-img"
            width="186"
            height="308.88"
          />
          <div>
            <p class="selling__card-number">#3 Selling</p>
            <h3 class="selling__card-name">Iced Coffee</h3>
          </div>
        </div>
        <div>
          <p class="selling__card-txt">
            Amet minim mollit non deserunt dolor ullamco est sit aliqua dolor do
            amet sint. Velit officia consequat duis.
          </p>
          <div class="selling__card-action">
            <p class="selling__card-price">$59.99</p>
            <button class="selling__card-btn button">Order now</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
